.header {
	min-width: 1000px;
	background: url(../img/topbg.gif) repeat-x;
}
.head_wrap {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}
.head_wrap h1 {
	float: left;
	margin-top: 40px;
}
.head_wrap h1 a {
	display: block;
	width: 185px;
	height: 42px;
	text-indent: -999em;
	background: url(../img/logo.png) no-repeat;
}
.login_bar {
	float: right;
	margin-top: 44px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.login_bar a {
	color: #e1e6f2;
	font-size: 14px;
	line-height: 18px;
	margin: 8px 13px 0 0;
}
.login_bar .text:hover {
	border-bottom: 1px solid #e1e6f2;
}
.login_bar .spliter {
	width: 2px;
	height: 16px;
	margin: 10px 13px 0 0;
	background: url(../img/top_spliter.gif) no-repeat;
}
.login_bar .icon {
	width: 23px;
	height: 23px;
	margin: 8px 12px 0 0;
}
.login_bar .weibo {
	background: url(../img/weibo.gif) no-repeat;
}
.login_bar .wechat {
	background: url(../img/wechat.gif) no-repeat;
}
.login_bar input {
	width: 177px;
	height: 33px;
	border: none;
	outline: none;
	cursor: pointer;
	background: url(../img/shoppingcar.gif) no-repeat;
}
.top_wrap {
	min-width: 1000px;
	height: 40px;
	background: url(../img/topnavbg.gif) repeat-x;
}
.top_wrap .top_nav {
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}
.top_nav h2 {
	line-height: 14px;
	color: #eeeeee;
	line-height: 40px;
	padding-left: 15px;
	width: 185px;
	background: url(../img/jiao.gif) no-repeat;
}
.top_nav .lists {
	float: left;
	border-left: 1px solid #414242;
	border-right: 1px solid #414242;
	position: relative;
}
.top_nav .lists a {
	display: block;
	line-height: 40px;
	padding: 0 20px;
	color: #eeeeee;
	font-weight: bold;
}
.top_nav .lists:hover {
	background: #4b4b4b;
}
.top_nav .lists:hover .showmore {
	display: block;
}
.lists .showmore {
	display: none;
	position: absolute;
	text-align: center;
	background: #fff;
	overflow: hidden;
	z-index: 10;
}
.top_nav .lists .shouye {
	padding: 0 30px;
}
.lists .showmore a {
	font-size: 12px;
	color: #4b4b4b;
	padding: 0 10px;
	line-height: 38px;
}
.lists .showmore li {
	margin-top: -1px;
	display: inline-block;
	text-align: center;
	border-top: 1px dashed #b0b1b2;
}
.mainbg {
	height: 500px;
	background: url(../img/bg.jpg) center top no-repeat;
}
.menu_wrap {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	position: relative;
}
.main_menu {
	width: 178px;
	height: 498px;
	border-left: 1px solid #e4e5e6;
	border-right: 1px solid #e4e5e6;
	border-top: 2px solid #e4e5e6;
	padding: 0 9px 0 11px;
	position: absolute;	background: #f8f8f8;
	top: 0;
	left: 0;
}
.main_menu h3 {
	font-size: 14px;
	color: #323232;
	margin: 14px 0 11px;
}
.main_menu div {
	margin-left: -25px;
}
.main_menu ul {
	border-bottom: 1px solid #dad9d9;
	padding-bottom: 8px;
}
.main_menu div a {
	float: left;
	color: #666;
	line-height: 22px;
	margin-left: 25px;
}

.cont {
	width: 1000px;
	margin: 0 auto;
}
.newCar h2 {
	font-size: 16px;
	color: #323232;
	margin: 54px 0 20px 11px;
}
.sub_cont {
	width: 998px;
	height: 336px;
	border: 1px solid #e7e7e7;
}
.sub_cont .tabs {
	margin-right: -1px;
}
.sub_cont span {
	float: left;
	border: 1px solid #e7e7e7;
	margin-left: -1px;
	margin-top: -1px;
}
.sub_cont .selected {
	border: 1px solid #045eab;
	position: relative;
}
.sub_cont .selected i {
	width: 15px;
	height: 6px;
	background: url(../img/jiao2.gif) no-repeat;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -7px;
}
.sub_cont .lists {
	width: 978px;
	height: 260px;
	padding: 20px 0 0 20px;
}
.sub_cont .list li {
	float: left;
	margin-right: 39px;
}
.sub_cont .list ul {
	margin-right: -19px;
}
.sub_cont .list a {
	display: block;
	width: 210px;
	height: 140px;
	margin-bottom: 13px;
}
.sub_cont .list p {
	color: #323232;
}
.sub_cont .list .subname {
	margin-bottom: 15px;
}
.sub_cont .list .price {
	margin-bottom: 8px;
}
.sub_cont .old i {
	float: none;
	color: #c9c9c9;
	border: none;
	text-decoration: line-through;
}
.sub_cont .now i {
	float: none;
	color: #e01e27;
	font-weight: bold;
	border: none;
}
.sub_cont .list {
	display: none;
}
.sub_cont .active {
	display: block;
}